body {
    color: red;
    background: #3B4CCA;
    text-align: center;
}
h1 {
    text-align: center;   
    background: red;
    border: 5px solid #FFDE00;
    border-radius: 5px;
    color: #FFDE00;
    
}
a {
    color: #FFDE00;
}
li {
    display: inline;
    float: left;
}
image {
    height: 5%;
    width: 5%;
}
